$navbar-bg: #000000;
$navbar-clr: #ffffff;
$nav-icon-clr: #a7acb2;
$navbar-select-bg: #f3f3f3;

$navbar-sec-bg: #232f3e;

$primary-clr: #febd69;

$link-inactive-clr: #000000;
$link-active-clr: #e47911;

